// Character Cards
.char-card {
  .card-title {
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
  }
  .card-text {
    font-size: 14px;
  }
}

// Details Cards
.details-card {
  .card-title {
    font-size: 45px;
    font-weight: 500;
    font-style: italic;
  }
  .card-text {
    p {
      font-size: 25px;
      margin-bottom: 0;
      font-style: italic;
      span {
        font-weight: 600;
      }
    }
  }
}
